<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>238895325315-b5loau9c0bhca4228gjr1ts6nfmt95sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238895325315-b5loau9c0bhca4228gjr1ts6nfmt95sr</string>
	<key>API_KEY</key>
	<string>AIzaSyCCjALNGLvrF3VgEJMpLtGgJMoqMCKBX-8</string>
	<key>GCM_SENDER_ID</key>
	<string>238895325315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evanlaird.Trestled</string>
	<key>PROJECT_ID</key>
	<string>trestled</string>
	<key>STORAGE_BUCKET</key>
	<string>trestled.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:238895325315:ios:888b490bed4260b9</string>
	<key>DATABASE_URL</key>
	<string>https://trestled.firebaseio.com</string>
</dict>
</plist>